.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/iqtrade_logo_black_350.png');
	width: 9em;
	-webkit-background-size: 9em auto;
}
div.login-ui {
	background: #666;
	background-color: #666;
}
.login-ui .login-dialog {
	background-color: white;
}
